{
    "presets": [[
        "@babel/preset-env", {
          "useBuiltIns": "usage",
          "loose": true,
          "modules": "auto",
          "corejs": 3
        }
    ]],
    "plugins": [
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }],
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
}
