{
    "presets": [[
        "@babel/preset-env", {
          "useBuiltIns": "entry",
          "loose": true
        }
    ]],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}
