{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "rules":{
        "import/prefer-default-export": [0],
        "import/order": [2, {
            "groups": ["builtin", "external", "parent", "sibling", "index"],
            "newlines-between": "always"
        }],
        "no-multiple-empty-lines": [2, {
            "maxBOF": 0,
            "max": 2,
            "maxEOF": 1
        }],
        "padded-blocks": [2, {
            "classes": "always"
        }],
        "max-len": [2, {
            "code":  120,
            "ignoreTemplateLiterals": true
        }],
        "lines-between-class-members": [2, "always", {
            "exceptAfterSingleLine": true
        }],
        "no-unused-expressions": [2, {
            "allowShortCircuit": true,
            "allowTernary": true
        }],
        "no-debugger": 1,
        "no-return-assign": [2, "except-parens"],
        "no-unused-vars": 1,
        "no-multi-assign": 0,
        "no-plusplus": 0,
        "no-bitwise": 0,
        "indent": [2, 4],
        "template-curly-spacing": [2, "always"],
        "linebreak-style": [2, "windows"],
        "prefer-destructuring": [2, {
            "array": false
        }]
    },
    "plugins": [
        "babel"
    ]
}
