{
    "extends": "stylelint-config-airbnb",
    "rules": {
        "indentation": 4,
        "max-nesting-depth": 4,
        "selector-max-id": 1,
        "comment-empty-line-before": "never",
        "string-quotes": "single"
    }
}