<footer class="footer__base">
    <ul class="footer__content">
        <li class="footer__option">
            <a class="footer__link" href="https://gmzcodes.com" target="_blank" title="Visit GMZCodes">
                <img class="footer__linkIcon" role="img" alt="GMZcodes retro logo" src="gmzcodes/gmzcodes-t-e-32.png" aria-labelledby="author" />
                <span class="footer__linkText" id="author">By GMZcodes</span>
            </a>
        </li>

        <li class="footer__option">
            <a class="footer__link" href="https://github.com/Danziger/slotjs" target="_blank" title="Visit GitHub Repo">
                <img class="footer__linkIcon" role="img" alt="GitHub retro logo" src="github/github-s-e-16.png" aria-labelledby="github" />
                <span class="footer__linkText" id="github">GitHub</span>
            </a>
        </li>

        <li class="footer__optionSpacer"></li>

        <li class="footer__option">
            <button class="footer__button footer__modalButton" title="Pay Table" id="togglePayTable">
                <span class="footer__buttonIcon" role="img" aria-label="Pay Table">🏆</span>
            </button>
        </li>

        <li class="footer__option">
            <button class="footer__button footer__modalButton" title="Instructions" id="toggleInstructions">
                <span class="footer__buttonIcon" role="img" aria-label="Instructions">ℹ️</span>
            </button>
        </li>

        <li class="footer__option">
            <button class="footer__button footer__toggleButton" id="toggleSound">
                <span class="footer__buttonIcon" role="img">🔊</span>
            </button>
        </li>

        <li class="footer__option">
            <button class="footer__button footer__toggleButton" id="toggleVibration">
                <span class="footer__buttonIcon" role="img">🍆</span>
            </button>
        </li>
    </ul>
</footer>
