<header class="header__base">
    <div class="header__content">
        <h1 class="header__title">
            <a class="header__logoLink" href="https://danziger.github.io/slotjs/">
                <img class="header__logoImage" src="logo/slotjs-t-e-64.png" aria-hidden="true" />
                <span class="header__logoText" id="title">SlotJS</span>
            </a>
        </h1>

        <ul class="header__state">
            <li class="header__prop" title="Coins">
                <span class="header__icon" role="img" aria-label="Coins">💲</span>
                <span class="header__value" id="coins">00000</span>
            </li>
            <li class="header__prop" title="Jackpot">
                <span class="header__icon" role="img" aria-label="Jackpot">💎</span>
                <span class="header__value" id="jackpot">00000</span>
            </li>
            <li class="header__prop" title="Spins">
                <span class="header__icon" role="img" aria-label="Spins">🎲</span>
                <span class="header__value" id="spins">00000</span>
            </li>
        </ul>
    </div>
</header>
