<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

    <div class="sm__base">
        <div class="sm__display sm__display--background" style="--reels: 5"></div>

        <div class="sm__activeReels">
            <div class="sm__reel is-stop" style="--i: 0"></div>
            <div class="sm__reel is-stop" style="--i: 1"></div>
            <div class="sm__reel is-stop" style="--i: 2"></div>
            <div class="sm__reel is-stop" style="--i: 3"></div>
            <div class="sm__reel is-stop" style="--i: 4"></div>

            <!-- This one is actually the center "cover", not an actual reel: -->
            <div class="sm__reel" style="--i: 5"></div>
        </div>

        <div class="sm__display sm__display--shadow" style="--reels: 5"></div>
    </div>

</body>
</html>
