<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

    <div class="sm__base">
        <div class="sm__display sm__display--background"></div>
        <div class="sm__reelsContainer"></div>
        <div class="sm__display sm__display--shadow"></div>
    </div>

</body>
</html>
