<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="app__base">

    <header class="app__header">
        <h1 class="app__title"><span role="img" aria-label="Slot Machine">🎰</span> SlotJS</h1>

        <ul class="app__state">
            <li class="app__prop">
                <span class="app__icon" role="img" aria-label="Coins">💶</span>
                <span class="app__value" id="coins">0</span>
            </li>
            <li class="app__prop">
                <span class="app__icon" role="img" aria-label="Jackpot">💰</span>
                <span class="app__value" id="jackpot">0</span>
            </li>
            <li class="app__prop">
                <span class="app__icon" role="img" aria-label="Spins">🍩</span>
                <span class="app__value" id="spins">0</span>
            </li>
        </ul>
    </header>

    <main class="app__main" id="main">
        <section class="sm__base">
            <div class="sm__display sm__display--background"></div>
            <div class="sm__reelsContainer"></div>
            <div class="sm__display sm__display--shadow"></div>
        </section>
    </main>

    <footer class="app__footer">
        <a class="app__link" href="https://github.com/Danziger/slotjs">
            👨‍💻 <span class="app__linkUnderline">Check it out on GitHub</span>
        </a>
    </footer>

</body>
</html>
