body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
}

#root {
    --size: 64px;
    --half: 32px;
    
    position: relative;
    width: calc(100% - 32px);  
    height: calc(100vh - 32px);
    max-height: calc(100vw - 32px);
    max-width: calc(100vh - 32px);
    box-sizing: border-box;
    pointer-events: none;
}

.zoom {
    transition: transform linear 150ms;
    transform: scale(4);
    transform-origin: 48px center;
}

.reel {
    position: absolute;
    top: calc( var(--i) * var(--half));
    left: calc( var(--i) * var(--half));
    width: calc(100% - var(--i) * var(--size));
    height: calc(100% - var(--i) * var(--size));
    border-radius: 100%;
    background: var(--bg);
    will-change: transform;
    overflow: hidden;
    box-shadow: 0 0 32px 0 rgba(0,0,0,.0625);
}

.ns {
    box-shadow: none;
}

.cell {
    position: absolute;
    height: 32px;
    line-height: 32px;
    top: 50%;
    left: 0;
    width: 50%;
    margin-top: -16px;
    transform-origin: center right;
}

.shadow1,
.shadow2,
.shadow3 {
    filter: blur(2px);
    transition: opacity linear .125s;
}

.shadow1 {
    opacity: .75;
}

.shadow2 {
    opacity: .5;
}

.shadow3 {
    opacity: .25;
}

.cellFigure {
    display: inline-block;
    text-align: center;
    width: var(--half);
}

.stop .shadow1,
.stop .shadow2,
.stop .shadow3 {
    opacity: 0;
}

#window {
    position: absolute;
    top: 50%;
    left: 0;
    width: calc( var(--reels) * var(--half));
    height: 32px;
    margin-top: -16px;
    box-shadow: 0 16px 32px -4px rgba(0,0,0,.25);
    z-index: -1;
    border-radius: 2px;
}


.active {  
    animation: spin 1s linear infinite;
}

.stop {
    animation-play-state: paused;
}
